    <h1>Formulario de Carga de Productos Agg </h1>

    <form id="formularioProductos">
        <input type="text" id="nombre" name="nombre" placeholder="Nombre">
        <br><br>

        <input type="text" id="categoria" name="categoria" placeholder="Categoria">
        <br><br>

        <input type="number" id="precio" name="precio" placeholder="Precio">
        <br><br>

        <button type="submit"> Enviar </button>
    </form>