body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Cambiado a min-height para asegurar que el cuerpo tenga al menos la altura de la ventana */
  background-image: url("https://res.cloudinary.com/dheurnsr0/image/upload/v1705343819/CI7GA76FD5GVPMHC354LEZK3X4_dlunvs.jpg");
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  color: rgb(185, 185, 219);
  background-color: rgb(3, 3, 3);
  text-align: center;
  border-radius: 5%;
  padding: 1rem; /* Agregado padding para mejorar la legibilidad */
}

p {
  align-items: center;
  color: rgb(253, 250, 250);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem; /* Espacio superior para separar del encabezado */
}

.container img {
  max-width: 100%; /* Hacer la imagen completamente responsive */
  width: 200px;
  height: auto;
  border-radius: 30%;
}

.Principal {
  display: flex;
  justify-content: space-around;
}
/* Estilos base para la tarjeta */
.card {
  display: inline-block;
  background-color: rgb(1, 8, 8);
  font-family: Arial, sans-serif;
  padding: 1em;
  max-width: 250px; /* Ajusta el ancho máximo según tus necesidades */
  margin: 20px 20px 20px 50px;
  border: 1px solid #161515;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  box-sizing: border-box; /* Asegura que el ancho incluya el padding y el borde */
}
.card-Bienvenido {
  display: inline-block;
  background-image: url("https://res.cloudinary.com/dheurnsr0/image/upload/v1705343819/CI7GA76FD5GVPMHC354LEZK3X4_dlunvs.jpg");
  font-family: Arial, sans-serif;
  padding: 1em;
  max-width: 350px; /* Ajusta el ancho máximo según tus necesidades */
  margin: 10px auto auto 550px; /* Centrar horizontalmente en lugar de establecer un margen específico */
  border: 1px solid #5f0707;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  box-sizing: border-box; /* Asegura que el ancho incluya el padding y el borde */
}

/* Media query para hacer la tarjeta responsive */
@media only screen and (max-width: 768px) {
  .card-Bienvenido {
    max-width: 100%; /* Cambiar el ancho máximo a 100% en pantallas más pequeñas */
    margin: 30px; /* Centrar horizontalmente en pantallas más pequeñas */
  }
}

/* Estilo para la imagen de la tarjeta */
.card img {
  width: 100%;
  height: auto;
}

/* Estilos adicionales al pasar el mouse sobre la tarjeta (opcional) */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Media query para hacer la tarjeta responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Cambia a una disposición de columna en pantallas más pequeñas */
  }

  .card {
    flex: 100%; /* Hace que las tarjetas ocupen el 100% del ancho en pantallas pequeñas */
  }
  .container img {
    width: 80%; /* Reducir el tamaño de la imagen en pantallas más pequeñas */
  }

  .div-form {
    margin-top: 1rem; /* Ajustar el espacio superior en pantallas más pequeñas */
  }
}

/* formulario */

.div-form {
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin-top: 2rem; /* Agregado espacio superior para separar del contenido superior */
}
form {
  max-width: 300px;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

form img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

input,
select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}

.padding-button {
  padding: 1rem;
  display: grid;
  place-items: center;
}

.color-button {
  background-image: url("https://res.cloudinary.com/dheurnsr0/image/upload/v1705343819/CI7GA76FD5GVPMHC354LEZK3X4_dlunvs.jpg");
  height: 10vh;
  width: 100%; /* Asegurar que el botón ocupe todo el ancho */
}
div button {
  background-color: #1c1e22;
}

button {
  justify-content: center;
  color: white;
  border: none;
  background-color: #4caf50;
  width: 100%;
  margin-bottom: 10px;
  /* padding: 8px; */
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2964d3;
}

/* Upload */

.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vw;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 6px;
  background-color: rgb(85, 104, 104);
}

.upload input {
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 6px;
}

.upload button {
  background-color: #183977;
  color: white;
  cursor: pointer;
}

.upload button:hover {
  background-color: #010a01;
}

/* header */
/* Estilos del encabezado */
header {
  background-image: url("https://res.cloudinary.com/dheurnsr0/image/upload/v1705343819/CI7GA76FD5GVPMHC354LEZK3X4_dlunvs.jpg");
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 50px;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #695d30; /* Cambia el color al pasar el ratón sobre el enlace */
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
  nav {
    display: none; /* Oculta la barra de navegación en pantallas más pequeñas */
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #333;
  }

  nav.show {
    display: flex; /* Muestra la barra de navegación cuando se hace clic en el icono del menú */
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  /* Icono del menú desplegable */
  header:before {
    content: "\2630"; /* Código del carácter Unicode para el icono del menú */
    font-size: 25px;
    cursor: pointer;
    display: none;
  }
}

/* aqui logica css para product.handlebars */

.filter-section {
  margin-bottom: 20px;
  text-align: center;
}

.filter-section .filter-label {
  margin-right: 10px;
  display: inline-block;
  width: 100px; /* ajusta el ancho según sea necesario */
}

.filter-section select {
  width: 250px;
  padding: 5px;
  border-radius: 5px;
}

.filter-section button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
}

.filter-section button:hover {
  background-color: #0056b3;
}

.pagination-section {
  margin-top: 20px;
  text-align: center;
  width: 100px;
  display: flex;
  align-items: center;
}
.pagination-section span {
  color: #fff;
  padding: 1rem;
}

.filter-section label {
  color: #fff;
}

.pagination-section .pagination-btn {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-section .pagination-btn:hover {
  background-color: #0056b3;
}

.pagination-section .pagination-span {
  margin: 0 10px;
}

/* Estilos para el contenedor de los botones de paginación */
#pagination {
  margin-top: 20px;
  text-align: center;
}

/* Estilos para los botones de paginación */
#pagination a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #3a573b; /* Color de fondo verde */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#pagination a:hover {
  background-color: #647711; /* Cambia el color de fondo al pasar el cursor */
}

/*LOGIN*/

.login-container {
  padding: 2rem;
  max-width: 90%; /* Cambiado a unidades relativas */
  width: 100%;
  margin: 0 auto;
}
.login-form input[type="text"],
.login-form input[type="number"],
.login-form input[type="email"],
.login-form input[type="password"],
.login-form button[type="submit"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.login-form button[type="submit"] {
  background-color: #0651a1;
  color: #fff;
  cursor: pointer;
}
.login-form button[type="submit"]:hover {
  background-color: #043815;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login h3 {
  color: #fff;
}

.login a {
  color: #a8c40b;
  background-color: #010a01;
}

/* //////////////////////////////////////////// */

.css-182lk0b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 110px;
  width: 80px;
}

@media only screen and (max-width: 768px) {
  .login-form {
    max-width: 90%;
  }

  .css-182lk0b {
    margin-left: 0; /* Eliminado el margen absoluto */
  }
}

/* ////////////////////////////////// */
.mb-25 {
  margin-bottom: 25px;
}

.w-100 {
  width: 100%;
}
.show-password-eye {
  top: 13px;
  right: 10px;
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.color-black {
  color: #000;
}
.input {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased !important;
  direction: ltr;
  display: block;
  width: 100% !important;
  padding: 0.85em 1.15em !important;
  font-weight: 400 !important;
  line-height: 1.25 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  transition: all 0.15s ease-in-out !important;
  font-size: 14px;
  height: 48px !important;
  border: 1px solid #dadce0 !important;
  box-sizing: border-box;
  border-radius: 4px !important;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  box-shadow: none;
}

.btnMios {
  width: 100%;
  padding: 10px;
  background-color: #c1101a;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btnMios:hover {
  background-color: #ff1f33;
}

i {
  font-size: 35px;
}
